@model List<vmParameterData>
@{
    ViewBag.Title = "Index";
}

<form action="@Url.Action("Index","Form")" method="post" id="frm-Data">
    <input type="hidden" name="Id" value="@ViewBag.Id" />
    <div class="row">
        @if(ViewBag.Error != null)
        {
            <div class="col-12">
                <div class="alert alert-error" role="alert">
                    @ViewBag.Error
                </div>
            </div>
            <hr />
        }
        @foreach (var item in Model)
        {
            <div class="col-6">
                @Html.Partial(item.Type, item)
            </div>
        }
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Save" id="btnSave" />
        </div>
    </div>
</form>
@section Scripts {
    @{ 
        var model_items_with_regex = Model.Where(c => !String.IsNullOrEmpty(c.RegexValidator));
    }
    <script>
        $("#btnSave").click(function () {
            $("#frm-Data").validate({
                    rules: {
                        @foreach (var rule in model_items_with_regex)
                        {
                            @:param-@rule.Id : { pattern: /@rule.RegexValidator/ },
                        }
                    },
                    messages :{
                        @foreach (var rule in model_items_with_regex)
                        {
                            @:param-@rule.Id : { pattern: '@rule.RegexValidatorMessage' },
                        }
                    }
            });
        })
    </script>
}

